@media screen and (min-width: 1024px) {
  /* ****************Utilities***** */
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }
  .section {
    padding: 0 10vw;
  }
  /* ***********Nav********** */
  .cheked {
    visibility: hidden;
    display: none;
  }
  .marco-nav {
    height: 3.5rem;
  }
  .container {
    top: 0;
    position: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    bottom: 0;
    top: 0;

    padding-left: 36rem;
  }
  .menu a {
    color: var(--white-color);
    background-color: var(--First-color);
    padding: 0.7rem;
  }
  /* **********About****** */
  .acerca {
  }
  .principal-image {
    display: inline-flex;
    width: 45vw;
  }
  .img-text {
    display: flex;
    flex-direction: row-reverse;
  }
  .presentacion {
    display: flex;
    flex-direction: column;
    padding-left: 0.8rem;
    align-items: center;
    justify-content: center;
  }
  /* *********tecnologias***** */
  .container-tecnologias {
    grid-template-columns: repeat(3, 30%);
  }
  .section-title {
    grid-column: span 3;
  }
}
