@media screen and (min-width: 1024px) {
  /* ***********Nav********** */
  .cheked svg {
    display: none;
  }
  .marco-nav {
    height: 3.5rem;
  }
  .container {
    align-content: space-between;
    top: 0;
    position: absolute;
  }
  .menu {
    display: flex;
    flex-direction: row;
    bottom: 0;
    top: 0;
    justify-content: right;
    padding-right: 2rem;
  }
  .menu a {
    color: var(--white-color);
    background-color: var(--First-color);
    padding: 0.7rem;
  }
  /* **********About****** */
  .principal-image {
    display: inline-flex;
    width: 45vw;
  }
  .img-text {
    display: flex;
    flex-direction: row-reverse;
  }
  .presentacion {
    display: flex;
    flex-direction: column;
    padding-left: 0.8rem;
    align-items: center;
    justify-content: center;
  }
  .section {
    padding: 3rem 5rem;
  }
}
