@media screen and (min-width: 1024px) {
  /* ****************Utilities***** */
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }
  .section {
    padding: 0 10vw;
  }
  /* ***********Nav********** */
  .cheked,
  #check {
    position: fixed;
    visibility: hidden;
    display: none;
  }

  .marco-nav {
    top: 0;
    position: none;
    display: flex;
    justify-content: space-between;
  }
  .menu {
    display: flex;
    flex-direction: row;
    position: initial;
    width: auto;
  }
  .menu a {
    color: var(--white-color);
    background-color: var(--First-color);
    padding: 0.7rem;
  }
  /* **********About****** */
  .acerca {
  }
  .principal-image {
    display: inline-flex;
    width: 45vw;
  }
  .img-text {
    display: flex;
    flex-direction: row-reverse;
  }
  .presentacion {
    display: flex;
    flex-direction: column;
    padding-left: 0.8rem;
    align-items: center;
    justify-content: center;
  }
  /* *********tecnologias***** */
  .container-tecnologias {
    grid-template-columns: repeat(3, 30%);
  }
  .section-title {
    grid-column: span 3;
  }
  /* **********Proyectos*********** */

  .proyecto {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    width: 100%;
  }
  td,
  th {
    font-size: 1vw;
  }

  /* *************Formulario************* */
  .container-form {
    max-width: 40vw;
  }
}
