@media screen and (min-width: 768px) {
  /* ************Nav******* */
  .marco-nav {
    height: 3.5rem;
  }
  .container {
    top: 0;
  }
  .menu {
    position: absolute;
    top: 3.5rem;
  }
  .menu a {
    color: var(--white-color);
    background-color: var(--First-color);
    padding: 0.7rem;
  }
  /* **********About****** */
  .acerca {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
  }
}
