@media screen and (min-width: 768px) {
  /* ************Nav******* */

  .marco-nav {
    top: 0;
  }
  .menu {
    position: absolute;
    top: 2.5rem;
  }
  .menu a {
    color: var(--white-color);
    background-color: var(--First-color);
    padding: 0.7rem;
  }
  /* **********About****** */
  .acerca {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-content: center;
  }
  /* *********tecnologias***** */
  .container-tecnologias {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-content: center;
  }
  .section-title {
    grid-column: span 2;
  }
  /* **********Proyectos*********** */

  .proyecto {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    width: 100%;
  }
  td,
  th {
    font-size: 2vw;
  }

  /* *************social************* */
  .contenido-map-red {
    flex-direction: row;
  }
  .titulo-espol {
    font-size: 3vw;
    text-align: center;
  }
  .map {
    min-height: 450px;
  }
  /* ***************Footer*************/
  .footer {
    margin-bottom: 0;
  }
}
